.auth-form {
    width: 40%;
    padding: 2rem;
    margin: 12rem 30%;
    background: var(--color-white);
}

body {
    background: var(--color-blue) !important;
}

.register-a {
    color: var(--color-blue);
}