.edit-order {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.edit-order-products {
    background: var(--color-light-blue);
}

.product-header {
    display: block;
    padding: 1rem;
}

.product {
    display: inline-block;
    background: white;
    text-decoration: none;
    text-align: center;
    margin: 1rem;
    padding: 1.5rem;
    color: black;
    width: 12rem;
    height: 6rem;
}

.edit-order-product-group {
    display: inline-block;
}