{% extends "basic_template_with_navbar.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/orders.css') }}">
{% endblock %}

{% block content %}
{% for order in orders %}
<a class="order" href="edit/{{ order.id }}">
    <div class="order-header">
        <h6>Заказ №{{ order.id }}</h6>
        <h6>{{ order.date }}</h6>
        <h6>Имя клиента: {{ order.client_name }}</h6>
        <h6>Статус: {{ order.status }}</h6>
    </div>
    {% if order.positions %}
    <div class="order-item">
        <p>№</p>
        <p>Позиция</p>
        <p>Тип позиции</p>
        <p>Количество единиц</p>
    </div>
    {% for position in order.positions %}
    <div class="order-item">
        <p>{{ loop.index }}</p>
        <p>{{ position.product.name }}</p>
        <p>{{ position.product.type }}</p>
        <p>{{ position.count }} шт.</p>
    </div>
    {% endfor %}
    {% else %}
    <p>Нет выбранных позиций</p>
    {% endif %}
</a>
{% endfor %}
{% endblock %}